.abotMeContent{
    margin: 0px 0px 0px 160px;
}

.meImg{
    width: 148px;
    height: 148px;
    border-radius: 10px;
    float: none;
    margin: 8px 8px 8px 8px;
}

.meTxt{
    width: 75%;
}

aside{
    z-index: 5;
    top: 48px;
    width: 134px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(184, 192, 119);
    left: 0;
    position: absolute;
    border-radius: 10px;
}