body{
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
}

.content{
    margin: 0px 0px 0px 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.frontImgSection{
    margin: 72px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.fontImgBanner{
    margin: 0px 0px 48px 0px;
    padding: 4px 0px 4px 0px;
    position: absolute;
    width: 280px;
    height: 48px;
    display: flex;
    justify-content: center;
    backdrop-filter: brightness(0.5);
}

.frontImg{
    width: 280px;
    border-radius: 5px;
}

.infoTxtSection{
    width: 75%;
    display: flex;
    justify-content: center;
}

.infoBannerCtx{
    width: 228px;
    text-align: center;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    backdrop-filter: grayscale(80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.consultation{
    width: 75%;
    display: flex;
    justify-content: center;
}

header{
    z-index: 10;
}

aside{
    z-index: 5;
    top: 48px;
    width: 148px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(184, 192, 119);
    left: 0;
    position: absolute;
    border-radius: 10px;
}

.linkBox{
    height: 260px;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    font-size: 12px;
}

.asideLink{
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
    width: 134px;
    background-color: #356735;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: -9px 6px 10px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: -9px 6px 10px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: -9px 6px 10px -1px rgba(0,0,0,0.25);
}

.active{
    margin: 0px 0px 0px 14px;
    width: 148px;
    background-color: white;
    color: #356735;
}

h1{
    color: rgb(3, 113, 56);
}

h2{
    font-size: 34px;
    color: rgb(3, 113, 56);
}

h3{
    color: rgb(131, 123, 96);
}

.headImgArea{
    top: 0;
    position: absolute;
    z-index: -10;
}

.headImg{
    width: 100vw;
}

.background{
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

.backgroundImg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    z-index: -2;
}

.backgroundShadow{
    height: 24px;
    background-color: rgb(184, 192, 119);
    margin: 60px 0px 0px 0px;
    box-shadow: -1px -11px 15px 1px rgb(184, 192, 119);
    -webkit-box-shadow: -1px -11px 15px 1px rgb(184, 192, 119);
    -moz-box-shadow: -1px -11px 15px 1px rgb(184, 192, 119);
}

.energieImg{
    width: 418px;
    margin: 16px 0px 16px 0px;
}

.companyLogoArea{
    width: 75vw;
    display: flex;
}

.companyLogo{
    margin: 30px 0px 0px 12px;
}

.menuArea{
    display: none;
    margin: 32px 0px 0px 0px;
    width: 75vw;
}

.iconBox{
    background-color: #356735;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    display: flex;
}

.menuIcon{
    width: 48px;
    border-radius: 10px;
}

.xIcon{
    display: none;
    right: 12px;
    top: 48px;
    position: absolute;
}

.show{
    display: flex;
}