body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
}

.content{
    margin: 48px 0px 0px 160px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontImgSection{
    display: flex;
    justify-content: center;
    align-items: end;
}

.fontImgBanner{
    margin: 0px 0px 48px 0px;
    padding: 4px 0px 4px 0px;
    position: absolute;
    width: 288px;
    height: 48px;
    display: flex;
    justify-content: center;
    backdrop-filter: brightness(0.5);
}

.frontImg{
    width: 288px;
    border-radius: 5px;
}

.infoTxtSection{
    width: 75%;
    display: flex;
    justify-content: center;
}

.infoBannerCtx{
    width: 228px;
    text-align: center;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    backdrop-filter: grayscale(80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.consultation{
    width: 75%;
    display: flex;
    justify-content: center;
}

header{
    z-index: 10;
}

aside{
    z-index: 5;
    top: 48px;
    width: 148px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(184, 192, 119);
    left: 0;
    position: absolute;
    border-radius: 10px;
}

.linkBox{
    height: 130px;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    font-size: 12px;
}

.asideLink{
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
    width: 134px;
    background-color: #356735;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
}

.active{
    margin: 0px 0px 0px 14px;
    width: 148px;
    background-color: white;
    color: #356735;
}

h1{
    color: rgb(3, 113, 56);
}

h2{
    color: rgb(3, 113, 56);
}

h3{
    color: rgb(131, 123, 96);
}

.footerImg{
    width: 480px;
    display: flex;
    justify-content: center;
    margin: 34px 0px 0px 0px; 
}